@use "vuetify/settings" with (
  $badge-font-family: ("Twemoji Country Flags", "Nunito", "Inter", sans-serif),
  $body-font-family: ("Twemoji Country Flags", "Nunito", "Inter", sans-serif),
  $kbd-font-family: ("Twemoji Country Flags", "Nunito", "Inter", sans-serif),
  $heading-font-family: ("Twemoji Country Flags", "Nunito", "Inter", sans-serif),
  $color-pack: false,
);

@function var-color($name) {
  @return rgb(var(--#{$name}));
}

:root {
  --fc-border-color: rgb(var(--v-theme-text));
}

* {
  font-family: "Twemoji Country Flags", "Nunito", "Inter", sans-serif !important;
  font-display: swap;
}

*::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

*::-webkit-scrollbar-track {
  background: var-color(v-theme-background) !important;
  border-radius: 10px !important;
}

.gm-style .gm-style-iw-d::-webkit-scrollbar-track, .gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece {
  background: var-color(v-theme-background) !important;
}

*::-webkit-scrollbar-thumb {
  background: var-color(v-theme-primary) !important;
  border-radius: 10px !important;
  transition: all 0.3s ease-in-out !important;
}

*::-webkit-scrollbar-thumb:hover {
  background: var-color(v-theme-secondary) !important;
}

a {
  text-decoration: none;
  color: inherit;
}

iframe {
  background-color: transparent;
  border: none;
}

input {
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill:active {
  border: 1px solid transparent;
  -webkit-background-clip: text;
  -webkit-box-shadow: 0 0 0px 1000px #00000000 inset !important;
  box-shadow: 0 0 0px 1000px #00000000 inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

.link-color {
  color: var-color(v-theme-accent);
  transition: color 0.3s;
}
.link-color:hover {
  color: var-color(v-theme-success);
}

.code {
  font-family: "Fira Code", monospace;
  font-display: swap;
}

.v-btn {
  transition: all 0.2s ease-in-out;
}

.v-btn:hover {
  transform: scale(1.05);
}

.v-theme--light {
  --v-medium-emphasis-opacity: 1 !important;

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: #070B1A;
  }
}

.v-theme--dark {
  --v-medium-emphasis-opacity: 1 !important;

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-text-fill-color: #F8F8F2;
  }
}

.v-btn__prepend {
  margin-right: 0.5rem !important;
}

.v-input__details {
  display: none !important;
}

.v-list-item-title {
  white-space: pre-wrap !important;
}

.v-list-item-subtitle {
  white-space: pre-wrap !important;
  -webkit-line-clamp: none !important;
  line-clamp: none !important;
  opacity: 0.8 !important;
}

.v-autocomplete--single:not(.v-autocomplete--selection-slot) .v-field--dirty:not(.v-field--focused) input {
  opacity: initial !important;
}

.v-expansion-panel-text__wrapper {
  padding: 0 !important;
}

/* Info window */
.gm-style {
  padding: 1em;
}
.gm-style .transit-container {
  background-color: var-color(v-theme-background);
  color: var-color(v-theme-text);
}
.gm-style .transit-container div {
  background-color: var-color(v-theme-background);
  color: var-color(v-theme-text);
}
.gm-style .transit-container .transit-line-group-vehicle-icons img {
  filter: invert(1);
}
.gm-style .transit-container [class^="transit-"][class$="-icon"] {
  filter: invert(1);
}
.poi-info-window div, .poi-info-window a {
  background-color: var-color(v-theme-background);
  color: var-color(v-theme-text);
}
.poi-info-window a:link {
  color: var-color(v-theme-accent);
}

/* Info window content */
.gm-style .gm-style-iw-c {
  background-color: var-color(v-theme-background);
  color: var-color(v-theme-text);
}

/* Info window text */
.gm-style .gm-style-iw-d {
  overflow-wrap: break-word;
  overflow: auto !important;
}

/* Info window little triangle */
.gm-style .gm-style-iw-tc::after {
  background-color: var-color(v-theme-background);
}

/* Info window close button */
.gm-ui-hover-effect > span {
  background-color: var-color(v-theme-text);
}

.force-nuxt-fonts-nunito {
  font-family: "Nunito";
}

.force-nuxt-fonts-inter {
  font-family: "Inter";
}
